certifi==2019.6.16           
click==7.0                   
flask==1.1.1                    
gunicorn==19.6.0                  
itsdangerous==1.1.0                   
jinja2==2.10.1                   
markupsafe==1.1.1                         
pip==19.2                               
setuptools==41.0.1                                                    
werkzeug==0.15.4                     
wheel==0.33.4                   
wincertstore==0.2                   